/*.btn.active,*/ 
body {
    background-color: #d0e4fe;
    background-image: url("http://static.flavors.me/dynamic_images/background/050c5db298b24e0ba544268626739810");
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: 1400px 1050px;
    font-size: 12px;

}

h1 {
	font-color: #FFFFFF;
	float: left;
}

h2 {
	float: left;
	margin-top: 50px;
	margin-left: 30px;
	vertical-align: text-bottom;
	font-size: 10;

}

h5 {
	margin: 0;
	padding: 0;
}

.startInfo {
	background-color: rgba(245, 245, 245, 0.5);
	padding: 2%;
}

.btn {
	text-align: right;
}

.jumbotron {
	background-color: rgba(245, 245, 245, 0.5);
	height: 150px;
}

.selectDishView {	
	background-color: rgba(245, 245, 245, 0.9);
	padding: 1%;
}

#dishView {	
	background-color: rgba(245, 245, 245, 0.9);
	padding: 1%;
}

#dishListView {	
	background-color: rgba(245, 245, 245, 0.9);
	padding: 1%;
}


.prep {
	border-right: 1px solid #000000;
	padding-right: 2%;

}

.bg {
	background-color: rgba(245, 245, 245, 0.9);
	padding: 1%;
}

.ingredients {
	
}



.button {
	background-color: #0000FF;

}


.btn:active {
    background-color: #000000;
}

.confirmbtn {
	margin-top: 30px;
	margin-bottom: 30px;
}

